<div class = "container">
    <h1 style="text-align: center;"> Professional Details </h1>
    <form [formGroup] = "profDetails.professionalDetailsList">
        <div *ngFor = "let item of profDetails.profDetailsFormGroup.controls; let i = index;" formArrayName="professional">
            <h4 style="margin-top: 25px;"> Company {{i+1}} </h4>
            <div [formGroupName]="i">
            <div class = "form-group">
                <input type="text" class = "form-control col-lg-6" placeholder="Company Name" formControlName = "company"/>
                <div *ngIf= "!getFormControl(i,'company').valid && getFormControl(i,'company').touched" style="text-align: left; color: red;"> Company name is required </div>
            </div>
            <div class = "form-group">
                <input type="text" class = "form-control col-lg-6" placeholder="Designation" formControlName = "designation"/>
                <div *ngIf= "!getFormControl(i,'designation').valid && getFormControl(i,'designation').touched" style="text-align: left; color: red;"> Designation is required </div>
            </div>
            <div class = "form-group">
                <input type="date" class = "form-control col-lg-6" placeholder="Joined Date" formControlName = "startDate"/>
                <div *ngIf= "!getFormControl(i,'startDate').valid && getFormControl(i,'startDate').touched" style="text-align: left; color: red;"> Select the Joining date </div>
            </div>
            <div class = "form-group">
                <input type="date" class = "form-control col-lg-6" placeholder="Last Date" formControlName = "endDate"/>
                <div *ngIf= "!getFormControl(i,'endDate').valid && getFormControl(i,'endDate').touched" style="text-align: left; color: red;"> Select the Relieving date </div>
            </div>
            <div class = "form-group">
                <input type="text" class = "form-control col-lg-6" placeholder="Skills" formControlName = "skills"/>
                <div *ngIf= "!getFormControl(i,'skills').valid && getFormControl(i,'skills').touched" style="text-align: left; color: red;"> Atleast one skill in required </div>
            </div>


            <button (click) = "addNewDetail()" class = "btn btn-secondary">
                Add Experience
            </button>
            <button (click) = "removeDetail(i)" class = "btn btn-secondary" style="margin-left: 10px;">
                Remove 
            </button>
            <hr>
            </div>
        </div>
    </form>
    </div>
    <div class="container">
    <button class = "btn btn-secondary" [disabled] = "!professionalDetail.valid" (click) = "gotoAttachments()" style="float: right;">
        Next
    </button>
    </div>
    
    


